table {
  table-layout: fixed;
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
 }
th {
  border-bottom: 2px solid #D9D9D9;
  padding: 10px 10px;
  font-weight: 600;
}
table, td, th {
  font-size: 20px;
  font-family: 'Inter', sans-serif; 
  margin: 0 auto;
  background: white;
  vertical-align: center;
  font-size: 16px;
}
.elipsis {
  width: 3px;
  height: 3px;
  border-radius: 48%;
  background: #313A4E;
  box-shadow: 0px 7px 0px #313A4E, 0px 14px 0px #313A4E;
  margin: 20px 30px 30px;
}
.second-row {
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  color: #6B6F7B;
}
.done:nth-child(7) {
  color: #17E383;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.circle::before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 48%;
  border: 4px solid #17E383;
  background-color: white;
  margin: 2px 0 0 -15px;
}
.pending {
  color: #FF9548;
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.pending::before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 48%;
  border: 4px solid #FF9548;
  background-color: white;
  margin: 2px 0 0 -15px;
}
.pagination {
  float: right;
}
.pagination div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  text-align: center;
  line-height: 50px;
}


    
